<p id="notice"><%= notice %></p>
<div class="container">
    <div class="row">
        <div class="small-12 large-8 columns">
			<table>
<thead>
<tr>
<th>Email</th>
<th>Fecha de creación</th>	
<th>Ultima entrada</th>
<th>Ultima conexión</th>
</tr>
</thead>
<tbody>
<% @users.each do  |u| %>
	<tr>
	<td><%= u.email %></td>	
	<td><%= u.created_at %></td>
    <td><%= u.last_sign_in_at %></td>
	<td><%= u.last_sign_in_ip %></td>	
	</tr>
	<% end %>
</tbody>
</table>
        </div>


